body {
    margin: 0;
    padding: 0;
}

nav {
    border: 2px solid;
    height: 15vh;
    background-color: greenyellow;
}

main {
    border: 2px purple solid;
    height: 70vh;
    background-color: hotpink;
}

footer {
    border: 2px green solid;
    height: 15vh;
}