body {
    margin: 0;
    padding: 0;
}

.caja1 {
    border: 2px solid;
    width: 20vw;
    height: 20vh;
    position: relative;
    left: 100px;
    top: 100px;
    background: hotpink;
}

.caja2 {
    background: indigo;
    border: 2px solid;
    width: 18vw;
    height: 50vh;
    position: relative;
    left: 200px;
    top: 80px;
    z-index: 1;
}

.caja3 {
    border: 2px solid;
    background: lawngreen;
    width: 37vw;
    height: 20vh;
    position: relative;
    left: 100px;
    top: 0px;
    z-index: 2; 
}

.caja4 {
    background: lightblue;
    border: 2px solid;
    width: 10vw;
    height: 70vh;
    position: absolute;
    left: 500px;
    top: 100px;
    z-index: 3;
}